{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create an Entry
{% endblock %}

{% block random %}
    <a href="wiki/{{ random }}">Random Page</a>
{% endblock %}

{% block body %}
    <h1>Create an Entry</h1>
    <form action="{% url 'encyclopedia:create' %}" method="POST">
        {% csrf_token %}
        <input class="mb-2" name="title" type="text" placeholder="Title" style="width: 50%; height: 40px" autofocus>
        <textarea name="content" style="height: 500px; width: 90%"></textarea> <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}