{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia: {{ title }}
{% endblock %}

{% block random %}
    <a href="/wiki/{{ random }}">Random Page</a>
{% endblock %}

{% block body %}
    {{ entry|safe|escape }}
    
    <form action="{% url 'encyclopedia:edit' %}" method="POST">
        {% csrf_token %}
        <input name="title" type="text" value="{{ title }}" hidden>
        <textarea name="content" hidden>{{ content }}</textarea>
        <input type="submit" value="Edit">
    </form>
{% endblock %}